@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mabry Pro Font Family */
@font-face {
  font-family: "MabryPro";
  src: url("/fonts/Mabry/MabryPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-headline: swap;
}

@font-face {
  font-family: "MabryPro";
  src: url("/fonts/Mabry/MabryPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-headline: swap;
}

@font-face {
  font-family: "MabryPro";
  src: url("/fonts/Mabry/MabryPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-headline: swap;
}

@font-face {
  font-family: "MabryPro";
  src: url("/fonts/Mabry/MabryPro-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-headline: swap;
}

@font-face {
  font-family: "MabryPro";
  src: url("/fonts/Mabry/MabryPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-headline: swap;
}

@font-face {
  font-family: "MabryPro";
  src: url("/fonts/Mabry/MabryPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-headline: swap;
}

@font-face {
  font-family: "MabryPro";
  src: url("/fonts/Mabry/MabryPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-headline: swap;
}

@font-face {
  font-family: "MabryPro";
  src: url("/fonts/Mabry/MabryPro-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-headline: swap;
}

@font-face {
  font-family: "MabryPro";
  src: url("/fonts/Mabry/MabryPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-headline: swap;
}

@font-face {
  font-family: "MabryPro";
  src: url("/fonts/Mabry/MabryPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-headline: swap;
}

@font-face {
  font-family: "Ahsing";
  src: url("/fonts/Ahsing.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-headline: swap;
}

@font-face {
  font-family: "TanBuster";
  src: url("/fonts/TAN-BUSTER-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-headline: swap;
}

@font-face {
  font-family: "TanHeadline";
  src: url("/fonts/TANHEADLINE-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-headline: swap;
}



/* Only animations that can't be done with Tailwind */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-fade-in {
  animation: fadeIn 0.7s ease forwards;
}
