@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vacay";
  src: url("/fonts/Vacay-Demo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 245, 245, 245;
}

body {
  color: white;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
